#date-text {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  text-shadow: 1.5px 1.5px 0.8px rgba(0, 0, 0, 0.8);
  letter-spacing: 0.5px;
  text-align: center;
}

#clock {
  font-size: 160px;
  font-weight: 500;
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
}

#clock-div {
  user-select: none;
}
