#quote {
  font-size: 20px;
  font-weight: 400;
  margin: 5px 5px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: -40px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#quote span {
  margin-bottom: 15px;
}

#quote span:last-child {
  font-size: 16px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

#quote {
  transition: all 0.3s ease-out;
}

#quote:hover {
  transform: translateY(-30px);
}
