#quote {
  font-size: 20px;
  font-weight: 400;
  margin: 12px 12px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: -39px;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-out;
}

#quote span {
  margin-bottom: 12px;
}
#quote span:first-child {
  line-height: 115%;
}

#quote span:last-child {
  font-size: 16px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

#quote:hover,
.translateY {
  transform: translateY(-28px);
}
