@import "reset.css";
@import "todo.css";
@import "weather.css";
@import "quote.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
}

body img {
  min-height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.9;
}

#main-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#clock {
  font-size: 160px;
  font-weight: 500;
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.7);
}

#greeting {
  font-size: 50px;
  font-weight: 500;
  margin: 10px 10px;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.7);
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-input {
  font-size: 50px;
  font-weight: 500;
  color: white;
  margin: 10px 10px;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 500px;
  text-align: center;
  border-bottom: 3px solid white;
}

#login-form span {
  color: white;
  font-size: 50px;
  font-weight: 500;
  margin: 10px 10px;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.hidden {
  display: none;
}
