@import "reset.css";
@import "todo.css";
@import "weather.css";
@import "quote.css";
@import "login.css";
@import "clock.css";

.invisible {
  opacity: 0;
  transform: translateY(10px);
}

.hidden {
  display: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
}

body img {
  min-height: 100%;
  position: absolute;
  z-index: -1;
  animation: imgOpacity 0.3s ease-in-out;
}

@keyframes imgOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

#main-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#greeting {
  font-size: 50px;
  font-weight: 500;
  margin: 10px 0px;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);
  user-select: none;
  text-align: center;
  padding-bottom: 80px;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  opacity: 0.8;
  user-select: none;
  position: absolute;
  right: 12px;
  bottom: 12px;
}

h4:hover {
  opacity: 1;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
}
